*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
  color: #1e1e27;
}
div{
  display: block;
  position: relative;
  box-sizing: border-box;
}
p{
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: 2px solid #fde0db;
  transition: all 200ms ease;
}
a, a:hover, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ff6347;
  background-color: #fde0db;
}
p a:hover::after {
  opacity: 0.2;
}
::selection{
  background: #fde0db;
  color: #ff6347;
}
p::selection{
  background: #fde0db;
}
h4{
  font-size: 24px;
}
h6{
  font-size: 14px;
}
h4, h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
.trans_300 {
  transition: all 300ms ease;
}
::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777;
}

/* .super_container {
  width: 100%;
  overflow: hidden;
} */

/* home */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
}

/* main navigation  */
.main_nav_container {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.015);
}
.navbar {
  width:  auto;
  height: 75px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar_menu li {
  display: inline-block;
}
.navbar_menu li a{
  display: block;
  color: #1e1e27;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  transition: color 0.3 ease;
}
.navbar_menu li a:hover {
  color: #b5aec4;
}
.navbar_user {
  margin-left: 37px;
}
.navbar_user li{
  display: inline-block;
  text-align: center;
}
.navbar_user li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  transition: color 0.3 ease;
}
.navbar_user li a:hover {
  color: #b5aec4;
}
.checkout {
  color: #b5aec4;
}
.checkout a {
  background: #eceff6;
  border-radius: 50%;
}
.checkout_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color:  #fff;
}

/* logo */
.logo_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.logo_container a {
  font-size: 20px;
  color: green;
  font-weight: 700;
  text-transform: uppercase;
}
.logo_container a span {
  color: red;
}
main{
  background-color: #edeef6;
}
input[type="search"] {
  border-radius: 50px;
  outline: none;
  padding: 15px 30px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  height: 100%;
  margin-top: 100px;
}
.search-field:hover {
  outline: none;
  border: none;
}

.search-btn {
  right: 0;
  padding: 15px 10px !important;
  border-radius: 50px !important;
  width: 130px;
}
.btn-outline-success:hover {
    background-color: #198754 !important;
}


#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  margin: 5px;
  transition: 0.6s;
  height: 410px;
  border-radius: 10px;
  border: 1px solid rgba(100, 98, 98, 0.233);
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}

.details-card{
  text-align: center;
  padding: 10px;
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.212);
  border: 1px solid cyan;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  /* position: fixed; */
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}